* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d1d8e0;
  margin-right: 2rem;
}
i {
  color: #575757;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #4b7bec;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
sup {
  font-size: 0.9rem;
}
.all-container {
  margin-left: 14rem;
}
.overall {
  margin-top: 5rem;
}
/* Navbar */
#navbar {
  border-top: 5px solid rgb(95, 95, 95);
  border-right: 5px solid rgb(95, 95, 95);
  width: 13rem;
  position: fixed;
}
.links {
  top: 5rem;
  left: 0;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#navbar a {
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
}
#navbar a:hover {
  background-color: rgb(194, 194, 194);
}
#navbar h1 {
  text-align: center;
  font-size: 1.5rem;
}
#navbar header {
  border-bottom: 2px solid rgb(95, 95, 95);
  padding: 0.5rem;
}
/* Header */
.header-content {
  margin-bottom: 1rem;
}
.header-content h2 {
  font-weight: 500;
}
header h5 {
  text-transform: uppercase;
}
header h4 {
  color: #4b7bec;
}
header h1 {
  font-size: 3rem;
}
.author {
  width: 70%;
}
/* Quick facts */
.whole {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.quick-facts {
  border: 1px solid rgb(95, 95, 95);
  padding: 0.6rem 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
}
/* Photo */
.photo {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  border: 1px solid rgb(177, 177, 177);
  padding: 1rem;
}
img {
  width: 12rem;
  height: auto;
}
.some-message {
  text-transform: uppercase;
}
.quick-facts h3 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
.viewMedia {
  display: flex;
  justify-content: center;
}
.viewMedia-div {
  margin-top: 0.5rem;
}
.quick-facts h5 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.square-div {
  margin: 1rem 0;
  padding: 0.5rem;
}
.fact-color {
  background-color: rgb(221, 221, 221);
}
.inside-square-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
}
.inside-born {
  width: 6.5rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.column div {
  margin: 0.1rem 0;
}
.Did-you-know {
  border: 1px solid black;
  width: 13rem;
}
.bullet-div {
  padding-left: 1rem;
}
/* Text Description */
.text-description {
  width: 70%;
  margin-right: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-content {
  font-size: 1.2rem;
}
.text-content div {
  margin: 1.5rem 0;
  line-height: 2rem;
  word-spacing: 0.2rem;
}
.blue {
  background-color: #4b6584;
  height: 0.6rem;
}

/* Top Questions */
.top-questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0;
}
.top-questions {
  width: 55%;
  border: 1px solid rgb(177, 177, 177);
}
.top-questions h2 {
  color: rgb(94, 94, 94);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
}
.top-questions .blue {
  background-color: #4b6584;
  width: 100%;
  height: 0.6rem;
}
.top-questions-content {
  padding: 1rem 1rem 0.5rem 1rem;
}
.question-list {
  margin-top: 0.5rem;
}
.question {
  margin: 1rem;
  padding: 0rem 1rem;
  background-color: rgb(221, 221, 221);
}
.question:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}
.question-background {
  background-color: rgb(221, 221, 221);
}
.quest-hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  transition: 0.1s;
}
.question p {
  color: #0040d6;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.fa-mouse {
  color: rgb(107, 107, 107);
}
.answer {
  display: none;
  margin: 1rem;
  padding: 1rem;
}
.answered {
  padding: 1rem;
  font-size: 1.4rem;
}
.readMore {
  font-size: 16px;
  padding: 0.5rem;
}
/* Childhood and Education */
.top-control {
  margin-top: 7rem;
}
.childhood-video {
  margin: 2rem 0;
}
video {
  border: 0.1px solid black;
  width: 65%;
}
.video-message {
  text-align: center;
  width: 65%;
  margin-top: 0.5rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.video-message div {
  margin-top: 0.5rem;
}
.kid-albert {
  width: 65%;
  margin: 2rem 0;
}
.albert-img {
  text-align: center;
}
.albert-img img {
  width: 30%;
  margin-bottom: 2.5rem;
}
.text-img {
  text-align: center;
}
.text-img i {
  color: #252525;
}
.text-img i::before {
  content: "";
  border: 2px solid#a5b1c2;
  height: 1rem;
  margin-right: 2rem;
}
.published-paper {
  font-size: 0.9rem;
  padding: 0rem 3rem;
}
.published-paper p {
  margin: 0.5rem 0;
  word-spacing: 0.1rem;
  line-height: 1.4rem;
}
.hilbert::before {
  content: "";
  border: 2px solid#a5b1c2;
  height: 10rem;
  margin-right: 1rem;
}
